body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 10%;
  background-color: rgb(105, 68, 18);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-span {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  cursor: pointer;
}

.header-span:hover {
  font-size: 27px;
}

.header-icon {
  width: 70px;
  height: 70px;
  margin-left: 30px;
  transform: rotate(-29deg);
}

.content-container {
  width: 100%;
  height: 70%;
  background-color: #fff;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.content-image {
  width: 650px;
  height: 100%;
}

.body-content-span {
  background-color: rgb(168, 166, 166);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-span {
  font-size: 70px;
  color: rgb(105, 68, 18);
  margin-right: 10px;
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  text-align: center;
}

.product-button {
  padding: 10px;
  background-color: rgb(105, 68, 18);
  border-radius: 5px;
  color: #ffffff;
  font-family: "Arvo", serif;
  margin-top: 1%;
  cursor: pointer;
}

.product-button:hover {
  padding: 10px;
  background-color: rgb(155, 104, 37);
}

.footer-container {
  width: 100%;
  height: 20%;
  background-color: rgb(105, 68, 18);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}
