body {
  background-color: rgb(170, 148, 120);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 10%;
  background-color: rgb(105, 68, 18);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-span {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  cursor: pointer;
}

.header-span:hover {
  font-size: 27px;
}

.header-icon {
  width: 70px;
  height: 70px;
  margin-left: 30px;
  transform: rotate(-29deg);
}

a {
  text-decoration: none;
}

.content-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 2px solid black;
  background-color: rgb(199, 166, 134);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

span {
  border-radius: 5px;
  color: #ffffff;
  font-family: "Arvo", serif;
  margin-top: 1%;
  cursor: pointer;
}

label {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30px;
}

input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button {
  background-color: rgb(105, 68, 18);
  text-shadow: rgb(0, 0, 0) 1px 1px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Arvo", serif;
  margin-top: 1%;
  cursor: pointer;
  height: 40px;
  width: 220.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: none;
}

.button:hover {
  background-color: rgb(155, 104, 37);
}

.error-message {
  color: rgb(153, 33, 33);
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-size: 50px;
}

.title {
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-size: 20px;
}

.message {
  font-family: "Arvo", serif;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-size: 50px;
  color: rgb(31, 66, 31);
}